@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Classes*/

.d-flex {
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.space-evenly{
    justify-content: space-evenly;
}

.align-items-center{
    align-items: center;
}

.justify-self-start{
    justify-self: flex-start;
}

.justify-self-end{
    justify-self: flex-end;
}

.justify-content-center{
    justify-content: center;
}

.no-wrap{
    flex-wrap: nowrap;
}

.wrap{
    flex-wrap: wrap;
}

.body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header*/

.header{
    background-color: #557cf2;
    color: black;
}

/*Logo*/

.logo{
    align-items: center;
    flex-shrink: 0;
}

.logo img{
    height: 60px;
    width: 60px;
}

.logo h1{
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
}

/*Navbar*/
.navigation{
    flex: 0 0 30%;
    justify-content: space-evenly;
}

.navigation a:hover {
    background-color: #185bc7;
}

.navigation a:focus {
    background-color: #185bc7;
}

.navigation a{
    text-decoration: none;
    padding: 0.5rem;
    color: black;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    border-radius: 20px;
}

.product-counter{
    height: 25px;
    width: 25px;
    background-color: red;
    color: white;
    border-radius: 30px;
    font-size: 1rem;
    text-align: center;
    padding: 0.25rem;
    font-weight: bold;
}

/*Footer*/

.footer{
    background-color: #557cf2;
    color: black;
}

/*Copyright*/
.copyright{
    margin-left: 1rem;
}

.copyright p{
    font-size: 1rem;
    white-space: nowrap;
    padding: 0.25rem;
}

/*Social Media*/
.social-media a{
    padding: 0.25rem;
}

.social-media a .fab{
    font-size: 2rem;
    color: black;
}

/*Main*/

.main{
    flex: 1 0 auto;
    justify-content: center;
}

.main-container{
    
    width: 80%;
    align-items: center;
    justify-content: center;

}

/*Index*/

.home-main{
    background-color: #88a3f5;
}

/*Products*/

.products-main{
    background-color: #88a3f5;
}

.catalog{
    padding: 1rem;
    justify-content: space-evenly;
    background-color: #557cf2;
    border: thin solid black;
    border-radius: 15px;
    margin: 1rem;
    min-width: 330px;

}

.product-item{
    background-color: white;
    border: thin solid black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 200px;
    margin: 0.3rem;
    padding: 0.5rem;
    align-items: flex-end;
    justify-content: space-between;
    flex: 0 0 300px;
}

.detail-text{
    justify-content: space-between;
    color: white;
    font-size: 0.8rem;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0.345);
    padding: 0.2rem;
    border-radius: 15px;
}

.product-button{
    cursor: pointer;
    padding: 0.2rem;
    background-color: rgba(0, 0, 0, 0.345);
    color: white;
    font-weight: bold;
    border-radius: 15px;
}

.product-button:hover{
    background-color: rgba(88, 87, 87, 0.445);
}

/*CartPage*/

.cart-main{
    background-color: #e4ee90;
}

.cart-container{
     width: 80%;
     min-width: 330px;
}

.product-cart-section{
    background-color: white;
    width: 75%;
}

.price-cart-section{
    background-color: white;
    width: 25%;
}

.product-cart-table{
    width: 100%;
}

table, th, td {

    border: 1px solid black;
    border-collapse: collapse;
}  


/*Slider*/
.slider{

    background-color: aquamarine;
    height: 45vh;
    flex: 1 0 auto;
    max-width: 80%;
}


/*Registration Form*/
.registration-container li{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: 1rem;
}

.registration-container > li > label,
.registration-container li p {
  flex: 1 0 100px;
  max-width: 220px;
}

.registration-container > li > label + *{
  flex: 1 0 220px;
}

.registration-container li button:hover{
    background-color: #185bc7;
}

.registration-container li button {
    margin-left: auto;
    padding: 0.5rem;
    border: thin solid black;
    background: #557cf2;
    color: black;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
}

.form{
    align-items: center;
    flex-direction: column;
    border: thin solid black;
    border-radius: 15px;
    background-color: #557cf2;
}

.formError{
    background-color: rgb(248, 74, 74);
    max-width: 100%;
    text-align: center;
    font-size: 1rem;
    border: none;
    font-weight: bold;
    border-radius: 15px;


}

/*Media Queries*/
/*Phone*/
@media screen and (max-width: 700px) {
    .header{
        flex-direction: column;
    }
    .navigation{
        flex-direction: column;
        flex: 0 0 25%;
    }

    .footer{
        flex-direction: column;
    }

}
