*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Classes*/

.d-flex {
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.space-evenly{
    justify-content: space-evenly;
}

.align-items-center{
    align-items: center;
}

.body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header*/

.header{
    background-color: #557cf2;
    color: black;
    height: 8vh;
}

/*Logo*/

.logo{
    align-items: center;
    flex-shrink: 0;
}

.logo img{
    height: 80px;
    width: 80px;
    margin: 0.5rem;
}

/*Navbar*/
.navigation{
    flex: 0 0 30%;
    justify-content: space-evenly;
    margin-right: 1rem;
}

.navigation a:hover {
    background-color: #185bc7;
}

.navigation a{
    text-decoration: none;
    padding: 0.5rem;
    color: black;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    border-radius: 25px
}

/*Footer*/

.footer{
    background-color: #557cf2;
    color: black;
    height: 8vh;
}

/*Copyright*/
.copyright{
    margin-left: 1rem;
}

.copyright p{
    font-size: 1.5rem;
    white-space: nowrap;
}

/*Social Media*/
.social-media a{
    padding: 0.5rem;
    margin-right: 1rem;
}

.social-media a .fab{
    font-size: 3rem;
    color: black;
}

/*Main*/

.main{
    flex-grow: 1;
}


/*Media Queries*/

@media screen and (min-width: 768px) {
    
}