@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Classes*/

.d-flex {
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.space-evenly{
    justify-content: space-evenly;
}

.align-items-center{
    align-items: center;
}

.no-wrap{
    flex-wrap: nowrap;
}

.wrap{
    flex-wrap: wrap;
}

.body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header*/

.header{
    background-color: #557cf2;
    color: black;
}

/*Logo*/

.logo{
    align-items: center;
    flex-shrink: 0;
}

.logo img{
    height: 60px;
    width: 60px;
}

.logo h1{
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
}

/*Navbar*/
.navigation{
    flex: 0 0 30%;
    justify-content: space-evenly;
}

.navigation a:hover {
    background-color: #185bc7;
}

.navigation a{
    text-decoration: none;
    padding: 0.5rem;
    color: black;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    border-radius: 25px
}

/*Footer*/

.footer{
    background-color: #557cf2;
    color: black;
}

/*Copyright*/
.copyright{
    margin-left: 1rem;
}

.copyright p{
    font-size: 1rem;
    white-space: nowrap;
    padding: 0.25rem;
}

/*Social Media*/
.social-media a{
    padding: 0.25rem;
}

.social-media a .fab{
    font-size: 2rem;
    color: black;
}

/*Main*/

.main{
    flex: 1 0 auto;
    justify-content: center;
}

.main-container{
    
    width: 80%;
    align-items: center;
    justify-content: center;

}

/*Index*/

.home-main{
    background-color: #88a3f5;
}

/*Products*/

.products-main{
    background-color: #88a3f5;
}

.catalog{
    padding: 1rem;
    justify-content: space-evenly;
}

.product-item{
    background-color: white;
    border: thin solid black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 225px;
    flex: 0 0 400px;
    margin: 0.5rem;
    padding: 0.5rem;
    align-items: flex-end;
}


.product-details p, h4{
    color: white;

}


/*Cart*/

.cart-main{
    background-color: #e4ee90;
}

/*Slider*/
.slider{

    background-color: aquamarine;
    height: 45vh;
    flex: 1 0 auto;
    max-width: 80%;
}


/*Registration Form*/
.registration-container li{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: 1rem;
}

.registration-container > li > label,
.registration-container li p {
  flex: 1 0 100px;
  max-width: 220px;
}

.registration-container > li > label + *{
  flex: 1 0 220px;
}

.registration-container li button:hover{
    background-color: #185bc7;
}

.registration-container li button {
    margin-left: auto;
    padding: 0.5rem;
    border: none;
    background: #557cf2;
    color: black;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
}

.form{
    align-items: center;
    flex-direction: column;
}

.formError{
    background-color: rgb(236, 114, 114);
    max-width: 80%;
    text-align: center;
    font-size: 1rem;
    border: none;
    font-weight: bold;
    border-radius: 10px;

    
    
}

/*Media Queries*/
/*Phone*/
@media screen and (max-width: 700px) {
    .header{
        flex-direction: column;
    }
    .navigation{
        flex-direction: column;
        flex: 0 0 25%;
    }

    .footer{
        flex-direction: column;
    }

}
